*{
    margin: 0;
    padding: 0;
}
#div1{
    height: 50px;
    background: #ff0;
}
@media screen and ( max-width:600px){
    #div1 {
        background: #f00;
    }
}
@media screen and (orientation:landscape){
    #div1 {
        background: #0f0;
    }
}