<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练习3</title>
    <style>
        .red{
            background: #ff0000;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text"  v-model="msg">
        <button @click="fn()">add</button>
       <ul>
           <li v-for="obj in arr"
               @click="change(obj)"
               :class="{red:obj.isRed}">{{obj.name}}</li>
       </ul>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            msg:"",
            arr:[],
        },
        methods:{
            fn:function(){
                var obj ={
                    name: this.msg,
                    isRed:false,

                }
                this.arr.push(obj);
                this.msg = "";
                this.arr.sort(function(x,y){
                    return x.name > y.name;
                });
            },
            change(o){
                o.isRed = !o.isRed;
            }
        }
    });
</script>
</body>
</html>